 <h1>Complete your profile</h1>
<form (ngSubmit)="submitForm(form)" #form="ngForm" novalidate [ngClass]="{'is-processing': processing}">

    <div class="field" [ngClass]="{'has-error': feedbackEnabled && usernameField.errors}">
      <label>Username</label>
      <input type="text" name="username" [(ngModel)]="username" #usernameField="ngModel" required minlength="6" [disabled]="processing"/>
      <div *ngIf="feedbackEnabled && usernameField.errors">
        <p *ngIf="usernameField.errors.required" class="validation">username required</p>
        <p *ngIf="usernameField.errors.minlength" class="validation">username is too short</p>
      </div>
    </div>

    <div class="field" [ngClass]="{'has-error': feedbackEnabled && nameField.errors}">
      <label>Name</label>
      <input type="text" name="name" [(ngModel)]="name" #nameField="ngModel" required minlength="6" [disabled]="processing"/>
      <div *ngIf="feedbackEnabled && nameField.errors">
        <p *ngIf="nameField.errors.required" class="validation">name required</p>
        <p *ngIf="nameField.errors.minlength" class="validation">name is too short</p>
      </div>
    </div>
  
    <div class="field" [ngClass]="{'has-error': feedbackEnabled && countryField.errors}">
      <label>Country</label>
      <input type="country" name="country" [(ngModel)]="country" #countryField="ngModel" required minlength="6" [disabled]="processing"/>
      <div *ngIf="feedbackEnabled && countryField.errors">
        <p *ngIf="countryField.errors.required" class="validation">country required</p>
      </div>
    </div>

    <div class="field" [ngClass]="{'has-error': feedbackEnabled && emailField.errors}">
      <label>Email</label>
      <input type="email" name="email" [(ngModel)]="email" #emailField="ngModel" required minlength="6" [disabled]="processing"/>
      <div *ngIf="feedbackEnabled && emailField.errors">
        <p *ngIf="emailField.errors.required" class="validation">email required</p>
      </div>
    </div>

    <div class="field" [ngClass]="{'has-error': feedbackEnabled && languagesField.errors}">
      <label>Languages you can communicate with:</label>
      <input type="languages" name="languages" [(ngModel)]="languages" #languagesField="ngModel" required minlength="6" [disabled]="processing"/>
      <div *ngIf="feedbackEnabled && languagesField.errors">
        <p *ngIf="languagesField.errors.required" class="validation">languages required</p>
      </div>
    </div>

    <div class="field" [ngClass]="{'has-error': feedbackEnabled && descriptionField.errors}">
      <label>Describe yourself</label>
      <input type="description" name="description" [(ngModel)]="description" #descriptionField="ngModel" required minlength="6" [disabled]="processing"/>
      <div *ngIf="feedbackEnabled && descriptionField.errors">
        <p *ngIf="descriptionField.errors.required" class="validation">description required</p>
        <p *ngIf="descriptionField.errors.minlength" class="validation">Description is too short</p>
      </div>
    </div>

    <div class="field" [ngClass]="{'has-error': feedbackEnabled && programming-languagesField.errors}">
      <label>Programming languages you want to learn</label>
      <input type="programming-languages" name="programming-languages" [(ngModel)]="programming-languages" #programming-languagesField="ngModel" required minlength="6" [disabled]="processing"/>
      <div *ngIf="feedbackEnabled && programming-languagesField.errors">
        <p *ngIf="programming-languagesField.errors.required" class="validation">programming-languages required</p>
      </div>
    </div>
</form> 