<h1>Complete your profile</h1>
<form (ngSubmit)="submitForm(form)" #form="ngForm" novalidate [ngClass]="{'is-processing': processing}">

    <div class="field" [ngClass]="{'has-error': feedbackEnabled && nameField.errors}">
      <label>Name</label>
      <input type="text" name="name" [(ngModel)]="name" #nameField="ngModel" [disabled]="processing"/>
      <div *ngIf="feedbackEnabled && nameField.errors">
        <p *ngIf="nameField.errors.required" class="validation">name required</p>
      </div>
    </div>
  
    <div class="field" [ngClass]="{'has-error': feedbackEnabled && countryField.errors}">
      <label>Country</label>
      <input type="country" name="country" [(ngModel)]="country" #countryField="ngModel" required minlength="6" [disabled]="processing"/>
      <div *ngIf="feedbackEnabled && countryField.errors">
        <p *ngIf="countryField.errors.required" class="validation">country required</p>
      </div>
    </div>

    <div class="field" [ngClass]="{'has-error': feedbackEnabled && emailField.errors}">
      <label>Email</label>
      <input type="email" name="email" [(ngModel)]="email" #emailField="ngModel" required minlength="6" [disabled]="processing"/>
      <div *ngIf="feedbackEnabled && emailField.errors">
        <p *ngIf="emailField.errors.required" class="validation">email required</p>
      </div>
    </div>

    <div class="field" [ngClass]="{'has-error': feedbackEnabled && languagesField.errors}">
      <label>Languages you can communicate with:</label>
      <input type="languages" name="languages" [(ngModel)]="languages" #languagesField="ngModel" required minlength="6" [disabled]="processing"/>
      <div *ngIf="feedbackEnabled && languagesField.errors">
        <p *ngIf="languagesField.errors.required" class="validation">languages required</p>
      </div>
    </div>

    <div class="field" [ngClass]="{'has-error': feedbackEnabled && descriptionField.errors}">
      <label>Describe yourself</label>
      <textarea type="description" name="description" [(ngModel)]="description" #descriptionField="ngModel" required minlength="6" [disabled]="processing"></textarea>
      <div *ngIf="feedbackEnabled && descriptionField.errors">
        <p *ngIf="descriptionField.errors.required" class="validation">description required</p>
        <p *ngIf="descriptionField.errors.minlength" class="validation">Description is too short</p>
      </div>
    </div>

    <div class="field" [ngClass]="{'has-error': feedbackEnabled && programmingLanguagesField.errors}">
      <label>Programming languages you want to learn</label>
      <select multiple type="programmingLanguages" name="programmingLanguages" [(ngModel)]="programmingLanguages" #programmingLanguagesField="ngModel" [disabled]="processing">
        <option value="javascript">Javascript</option>
        <option value="python">Python</option>
        <option value="ruby">Ruby</option>
        <option value="java">Java</option>
        <option value="others">Others</option>
        </select>
      <div *ngIf="feedbackEnabled && programmingLanguagesField.errors">
        <p *ngIf="programmingLanguagesField.errors.required" class="validation">programmingLanguages required</p>
      </div>
    </div>

    <div class="field submit">
      <button type="submit" [disabled]="processing">Save</button>
      <div *ngIf="feedbackEnabled && form.invalid">
        <p class="validation">there are errors in the form, please review the fields</p>
      </div>
  
      <div *ngIf="error" class="validation">
        <div [ngSwitch]="error.code">
          <!-- hace username menos not menos unique necesario " ' -->
          <p *ngSwitchCase="'username-not-unique'">Username is taken</p>
          <p *ngSwitchDefault>An unexpected error ocurred</p>
        </div>
      </div>
    </div>
    
</form> 