<section class="hero-home">
  <div class="container">
    <h1>Get started on web development</h1>
  </div> 
</section>

<section class="home-content">
  <div class="container main-text">
    <div class="title">
    <h2>Programming for grrls and women</h2>
    </div>
  <div class="texto">
    <p>Our aim is to provide  a community were professional 
      programers can act as volunteers and help women that 
      are starting to get involved in programming.</p>

    <p>Learn basic programming and get introduced to the world 
      of technology. ProgramGrrrl is a non-profit volunteer 
      community.</p>
  </div>
  </div>

  <div class="background">
    <div class="cards-container">
      <div class="card-home">
        <img src="../../../assets/images/daniela.png" class="profile-pic-home" alt="">
        <div class="description">
          <h3>Meet Daniela from Venezuela</h3>
          <p>She was interested in coding but didn’t know exactly where to start. She 
            tried viewing some videos on YouTube but quickly got stucked and didn’t 
            have somebody to answer her questions.</p>
          <p>Until, she got to ProgramGrrrl and started learning.</p>
          <a [routerLink]="['/signup']" class="button btn-cards">I wanna learn</a>
        </div> 
      </div>
      <div class="card-home">
        <img src="../../../assets/images/montse.png" class="profile-pic-home" alt="">
        <div class="description">
          <h3>Meet Montse from Spain</h3>
          <p>Montse registered in ProgramGrrrl as a Sponsor and got in touch with Daniela.</p> 
          <p>She has helped many, serving as a coach, a mentor or as a teacher.</p>
          <a [routerLink]="['/signup']" class="button btn-cards">Start helping others</a>
        </div> 
      </div>
    </div>
  </div>
</section>