<section>
  <div>
    <h1>Programming for Grrls and women</h1>
  </div> 
</section>

<section>
  <div>
    <h2>What is ProgramGrrl?</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipiscing elit
    gravida, feugiat donec suspendisse sed imperdiet
    habitant lectus natoque, vestibulum velit augue euismod 
    proin montes eros. Auctor erat volutpat donec ultrices 
    facilisis venenatis sociosqu dis habitasse, facilisi 
    ligula integer quis ullamcorper etiam duis aenean 
    vehicula, curae suspendisse dapibus posuere ad accumsan 
    conubia fermentum.</p>
  </div>

  <div>
    <img src="" alt="">
    <h3>Meet Daniela</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipiscing elit
    gravida, feugiat donec suspendisse sed imperdiet
    habitant lectus natoque, vestibulum velit augue euismod 
    proin montes eros.</p>
    <a href="">I wanna learn</a>  
  </div>

  <div>
    <img src="" alt="">
    <h3>and Montse</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipiscing elit
    gravida, feugiat donec suspendisse sed imperdiet
    habitant lectus natoque, vestibulum velit augue euismod 
    proin montes eros.</p>
    <a href="">Become a Sponsor</a>
  </div>   
</section>