<section class="hero-home">
  <div class="container">
    <h1>Get started on web development</h1>
  </div> 
</section>

<section>
  <div class="container home-content">
    <h2>PROGRAMMING FOR GIRLS AND WOMEN
    </h2>
    <p>Our aim is to provide  a community were professional 
      programers can act as volunteers and help women that 
      are starting to get involved in programming.

      Learn basic programming and get introduced to the world 
      of technology. ProgramGrrrl is a non-profit volunteer 
      community.</p>
  </div>

  <div class="container home-content card-home">
    <img src="../../../assets/images/daniela.png" class="profile-pic-home" alt="">
    <div class="card-home-content">
      <h3>MEET DANIELA FROM VENEZUELA</h3>
      <p>She was interested in coding but didn’t know exactly where to start. She tried viewing some videos on YouTube but quickly got stucked and didn’t have somebody to answer her questions.
      <br><br>
      Until, she got to ProgramGrrrl and started learning.</p>
      <a [routerLink]="['/signup']" class="button">I WANNA LEARN</a>
    </div> 
  </div>
  <div class="container home-content card-home">
    <img src="../../../assets/images/montse.png" class="profile-pic-home" alt="">
    <div class="card-home-content">
      <h3>MEET MONTSE FROM SPAIN</h3>
      <p>Montse registered in ProgramGrrrl as a Sponsor and got in touch with Daniela. 
      <br><br>
      She has helped many, serving as a coach, a mentor or as a teacher.</p>
      <a [routerLink]="['/signup']" class="button">START HELPING OTHERS</a>
    </div> 
  </div>
</section>