<div class="container applicants-page">
  <h1>THEY NEED A SPONSOR</h1>
  
  <form (ngSubmit)="submitForm(form)" #form="ngForm" novalidate>
    <select type="programmingLanguages" name="programmingLanguages" [(ngModel)]="programmingLanguages" #programmingLanguagesField="ngModel" [disabled]="processing">
      <option value="" disabled selected>Filter by language</option>
      <option type="submit" value="">See all</option>
      <option type="submit" value="javascript">Javascript</option>
      <option type="submit" value="python">Python</option>
      <option type="submit" value="ruby">Ruby</option>
      <option type="submit" value="java">Java</option>
      <option type="submit" value="others">Others</option>
    </select>
  </form>

  <div class="cards-container">
    <ng-container *ngIf="applicants" >
      <div *ngFor="let applicant of applicants">
        <app-application-card [applicant]="applicant"></app-application-card>
      </div>
    </ng-container>
  </div>
</div>