<header id="site-header">
  <nav [ngClass]="{'is-user': user, 'is-anon': anon}">
    <div class="navbar">
      <div *ngIf="loading">
        <span class="username text">loading...</span>
      </div>
        <div class="container logo">
          <a [routerLink]="['/']"><img src="../assets/images/logo.png" alt="logo"></a>
        </div> 
        <div *ngIf="!loading && !!user" class="profile-name">
          <a [routerLink]="['/profile', user._id]">{{user.username}}</a>
          <a (click)="logout()">LOGOUT</a>
        </div>
        <div *ngIf="!loading && anon" class="auth-navbar">
          <a [routerLink]="['/login']">LOGIN</a>
          <span>&nbsp;|&nbsp;</span>
          <a [routerLink]="['/signup']">REGISTER</a>
        </div>
    </div>
  </nav>
</header>

<div id="site-main" >
  <router-outlet></router-outlet>
</div>
  
<footer id="site-footer">
    <div *ngIf="!loading && anon" class="auth-navbar">
        <a [routerLink]="['/login']">LOGIN</a>
        <span>&nbsp;|&nbsp;</span>
        <a [routerLink]="['/signup']">REGISTER</a>
      </div>
  <div class="container">
    <p>&copy; PROGRAMMGRRL</p>
  </div>
</footer>