<div class="container compact" *ngIf="user">

  <div *ngIf="user.userType === 'sponsor' && user.complete">
    <div><a class="button" [routerLink]="['/applicants']">See applicants</a></div>
  </div>

  <div *ngIf="userCanEdit">
      <div><a [routerLink]="['/profile', user._id, 'edit']">Edit</a></div>
  </div>
  
  <img src="{{user.image}}" alt="hero-picture">
  <h3>{{user.name}}</h3>
  <div class="property location">
    <p class="label">Location:</p>
    <p class="value">{{user.country}}</p>
  </div>
  <div>
    <p>Email:</p>
    <p>{{user.email}}</p>
  </div>
  <div>
    <p>Languages:</p>
    <p>{{user.languages}}</p>
  </div>
  <div>
    <p>Description:</p>
    <p>{{user.description}}</p>
  </div>
  <div>
    <p>Interested in:</p>
    <p>{{user.programmingLanguages}}</p> 
  </div>
  <div *ngIf="userCanSponsor">
      <div><a class="button" [routerLink]="['/profile', user._id]">Sponsor</a></div>
  </div>

</div> 