<div class="container compact profile-page" *ngIf="user">

  <div *ngIf="user.userType === 'applicant' && user.complete && user.sponsor">
    <h2>Sponsor</h2>
    <div class="show-sponsor-applicant">
      <div class="status-img">
        <img src="{{user.sponsor.image}}" alt="">
      </div>
      <div class="link"><a [routerLink]="['/profile', user.sponsor._id]">{{user.sponsor.name}}</a></div>
    </div>
  </div>
    <div *ngIf="user.userType === 'sponsor' && user.complete">
    <h2>Sponsoring</h2>
    <div *ngFor = "let applicant of applicants" class="show-sponsor-applicant">
      <div class="status-img">
       <img src="{{applicant.image}}" alt="">
      </div>
      <div class="link"><a [routerLink]="['/profile', applicant._id]">{{applicant.name}}</a></div>
    </div>
  </div>
  
  
  <div class="profile-card">
    <div *ngIf="user.userType === 'sponsor' && user.complete">
      <div><a class="button" [routerLink]="['/applicants']">See applicants</a></div>
    </div>
    <img class="profile-pic-home" src="{{user.image}}" alt="hero-picture">
  </div>
  
  <div class="profile-name-button">
    <h3>{{user.name}}</h3>   
    <div *ngIf="userCanEdit">
      <a class="edit-link" [routerLink]="['/profile', user._id, 'edit']">Edit</a>
    </div>
  </div>
  
  <div class="property">
    <p class="label">Location:</p>
    <p class="value">{{user.country}}</p>
  </div>
  <div class="property">
    <p class="label">Email:</p>
    <p class="value">{{user.email}}</p>
  </div>
  <div class="property">
    <p class="label">Languages:</p>
    <p class="value">{{user.languages}}</p>
  </div>
  <div class="property">
    <p class="label">Description:</p>
    <p class="value">{{user.description}}</p>
  </div>
  <div class="property">
    <p class="label">Interested in:</p>
    <p class="value">{{user.programmingLanguages}}</p> 
  </div>
  <div *ngIf="userCanSponsor">
      <div><a (click)="sponsorOne(user._id)" class="button sponsor-button">Sponsor</a></div>
  </div>

</div> 