@import url('https://fonts.googleapis.com/css?family=Assistant:300,400,600,700');
@import url('https://fonts.googleapis.com/css?family=Oswald:300,400,600');

/* You can add global styles to this file, and also import other style files */
/* ---- reset ---- */

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}

/* ---- typography ---- */

body {
  color: #111;
  font-size: 16px;
  line-height: 147%;
  font-family: 'Assistant-Regular', sans-serif;
}

h1 {
  margin-top: 0px;
  font-family: 'Oswald', sans-serif;
  font-size: 36px;
  line-height: 36px;
  text-transform: uppercase;
}

h2 {
  margin-top: 0px;
  font-family: 'Oswald', sans-serif;
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
}

h3 {
  font-family: 'Oswald', sans-serif;
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
}

p {
  margin: 0;
  font-family: 'Assistant', sans-serif;
  font-size: 16px;
  line-height: 1.25;
}

/* ---- layout ---- */

#site-header {
  height: 58px;
  padding: 20px 0;
  color: white;
  background: #d41e1e;
}

#site-header a {
  text-decoration: none;
  color: #FFFFFF;
  font-size: 10px;
  font-family: 'Oswald', sans-serif;
  font-weight: bold;
}

.navbar {
  display: flex;
  align-content: space-around;
}

#site-footer {
  color: #ffffff;
  padding: 60px 0;
  background: #000000;
  text-align: center;
}

#site-footer a {
  text-decoration: none;
  color: #FFFFFF;
  font-size: 16px;
  font-family: 'Oswald', sans-serif;
  font-weight: bold;
}

#site-main {
  
}

.container {
  margin: 0 20px;
}

@media(min-width: 520px){
  

  .container.compact {
    max-width: 480px;
    margin: 0 auto;
  }

}

.section {
  padding: 20px;
}

/* ------- home-page -------- */

/* -- hero section -- */

.hero-home {
  background-image: url('../src/assets/images/hero-img.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 20%;
  height: 320px;
  max-height: 320px;
  color: #FFFFFF;
  display: flex;
  align-items: center;
  text-align: center;
}

.hero-home h1 {
  color: #FFFFFF;
  text-shadow: 2px 2px 10px #000000;
}

.home-content {
  padding-top: 20px;
  margin-bottom: 40px;
}

.home-content h2 {
  color: #212322;
  margin-bottom: 10px;
}

.home-content p {
  margin-bottom: 10px;
}


/* -- cards home -- */
.cards-container{
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
}

.profile-pic-home {
  border-bottom: 10px solid #d41e1e;
}

.card-home {
  background: #212322;
  margin: 0 20px 40px 20px;
}

.card-home img {
  width: 100%;
}

.card-home .description {
  padding: 0 10px 10px 10px;
}

.card-home p {
  color: #FFFFFF;
  margin-bottom: 20px;
}

.card-home h3 {
 margin-top: 0;
 color: #f2f2f2;
}

.card-home a {
  text-decoration: none;
 }

.button {
  font-family: 'Oswald', sans-serif;
  color: #FFFFFF;
  font-size: 16px;
  font-weight: bold;
  border-radius: 4px;
  background-color: #ff3636;
  width: 100%;
  line-height: 55px;
  display: block;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  border: none;
}

.button.ghost {
  color: #ff3636;
  border: solid 1px #ff3636;
  background-color: #212322;
  margin-bottom: 0px;
}


/* -- web version --- home -- */

@media (min-width: 767px ){

  .container {
    max-width: 728px;
    margin: 0 auto;
  }

  .hero-home{
    background-image: url('../src/assets/images/img-desktop@3x.png');
  }

  .home-content p {
    margin-bottom: 40px;
  }

  .cards-container {
    max-width: 728px;
    display: flex;
    justify-content: space-around;
  }

  .card-home {
    width: 100%;
    max-width: 280px;
  }

  .card-home-content {
    display: flex;
    flex-direction: column;
  }

  .btn-cards {
    align-self: flex-end;
  }
}



/* -- forms -- */

form.is-processing {
  opacity: 0.5;
}

form .field {
  margin-bottom: 25px;
  position: relative;
}

form label {
  display: block;
  margin-bottom: 10px;
  font-style: bold;
  position: absolute;
  top: -10px;
  left: 10px;
  font-size: 13px;
  text-transform: lowercase;
  background-color: white;
  padding: 0 5px;
}

form input,
form textarea {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border-radius: 4px;     
  border: 1px solid #212322; 
}

form textarea {
  min-height: 140px;
  min-width: 100%;
  max-width: 100%; 
}

form select {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border-radius: 4px;      
}

form .submit {
  padding-top: 20px;
}

form .submit button {
  padding: 5px 20px;
  text-align: center;
  font-size: 16px;
  background-color: rgb(224, 224, 224);
  cursor: pointer;
}

form .field.has-error label {
  color:#FF441A;
  font-weight: bold;
}

form .validation {
  margin: 5px 0 10px;
  color: #FF441A;
  font-weight: bold;
}

form .field.has-error input,
form .field.has-error textarea,
form .field.has-error select {
  border: 1px solid  #FF441A;
}

/* -- signup & login -- */

.auth-page {
  background-color: #212322;
  padding-top: 40px;
  padding-bottom: 40px;
  min-height: calc(100vh - 223px)
}

.auth-page h1 {
  font-size: 24px;
  color: #ffffff;
  margin-bottom: 40px;
}

/* -- edit page -- */

.edit-page {
   padding-top: 40px;
   padding-bottom: 60px;
}

.edit-page h1 {
  font-size: 24px;
}

.edit-page button {
  margin-bottom: 20px;
}

.error-message {
  text-align: center;
}

/* -- applicants page -- */

.applicants-page {
  padding-top: 40px;
  padding-bottom: 60px;
}

.applicants-page h1 {
  font-size: 24px;
}
