@import url('https://fonts.googleapis.com/css?family=Assistant:300,400,600,700');
@import url('https://fonts.googleapis.com/css?family=Oswald:300,400,600');

/* You can add global styles to this file, and also import other style files */
/* ---- reset ---- */

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}

/* ---- typography ---- */

body {
  color: #111;
  font-size: 16px;
  line-height: 147%;
  font-family: 'Assistant-Regular', sans-serif;
}

h1 {
  margin-top: 0px;
  font-family: 'Oswald', sans-serif;
  font-size: 36px;
  line-height: 36px;
  text-transform: uppercase;
}

h2 {
  margin-top: 0px;
  font-family: 'Oswald', sans-serif;
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
}

h3 {
  margin-top: 0px;
  font-family: 'Oswald', sans-serif;
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
}

p {
  margin: 0;
  font-family: 'Assistant', sans-serif;
  font-size: 16px;
  line-height: 1.34;
}

/* ---- layout ---- */

#site-header {
  height: 58px;
  padding: 20px 0;
  color: white;
  background: #d41e1e;
}

#site-header a {
  text-decoration: none;
  color: #FFFFFF;
  font-size: 10px;
  font-family: 'Oswald', sans-serif;
  font-weight: bold;
}

.navbar {
  display: flex;
  justify-content: space-around;
}


#site-footer {
  color: #ffffff;
  padding: 60px 0;
  background: #000000;
  text-align: center;
}

#site-footer a {
  text-decoration: none;
  color: #FFFFFF;
  font-size: 16px;
  font-family: 'Oswald', sans-serif;
  font-weight: bold;
}

.container {
  margin: 0 20px;
}

@media(min-width: 520px){
  
  .container.compact {
    max-width: 480px;
    margin: 0 auto;
    padding-bottom: 40px;
  }

}
  .section {
    padding: 20px;
}

/* ------- home-page -------- */

/* -- hero section -- */

.hero-home {
  background-image: url('../src/assets/images/hero-img.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 20%;
  height: 320px;
  color: #FFFFFF;
  display: flex;
  align-items: center;
  text-align: center;
}

.hero-home h1 {
  color: #FFFFFF;
  text-shadow: 2px 2px 10px #000000;
}

.home-content {
  padding-top: 20px;
}

.main-text {
  margin-bottom: 40px;
}

.home-content h2 {
  color: #212322;
  margin-bottom: 10px;
}

.home-content p {
  margin-bottom: 10px;
}


/* -- cards home -- */
.cards-container{
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
}

.profile-pic-home {
  border-bottom: 10px solid #d41e1e;
}

.card-home {
  background: #212322;
  margin: 0 20px 40px 20px;
  max-width: 520px;
}

.card-home img {
  width: 100%;

}

.card-home .description {
  padding: 0 10px 10px 10px;
}

.card-home p {
  color: #FFFFFF;
  margin-bottom: 20px;
}

.card-home h3 {
 margin-top: 0;
 color: #f2f2f2;
}

.card-home a {
  text-decoration: none;
 }

.button {
  font-family: 'Oswald', sans-serif;
  color: #FFFFFF;
  font-size: 16px;
  font-weight: bold;
  border-radius: 4px;
  background-color: #ff3636;
  width: 100%;
  line-height: 55px;
  display: block;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  border: none;
}

.button.ghost {
  color: #ff3636;
  border: solid 1px #ff3636;
  background-color: #212322;
  margin-bottom: 0px;
}


/* -- web version --- home -- */

@media (min-width: 767px ){

  .container {
    max-width: 728px;
    margin: 0 auto;
  }

  .hero-home {
    background-image: url('../src/assets/images/hero-v-2-desktop-copy@2x.png');
    height: 630px;
  }

  .hero-home h1 {
    display: none;
  }

  .home-content p {
    margin-bottom: 40px;
  }

  .cards-container {
    max-width: 728px;
    display: flex;
    justify-content: space-between;
  }

  .main-text {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .title {
    width:406px;
    height: 72px;
    margin-bottom: 80px;
    align-self: flex-start;
    padding-top: 40px;
  }

  .title h2 {
    font-size: 36px;
    font-weight: bold;
    color: #212322;
    line-height: 1;
    padding-right: 20px;
  }

  .texto {
    height: 143px;
    width: 564px;
    margin-left: 100px;
  }

  .texto p {
    font-size: 18px;
    line-height: 1.19;
    margin-bottom: 20px;
  }

  .background {
    background-image: url('../src/assets/images/img-desktop-copy@2x.png');
  }

  .card-home {
    width: 100%;
    max-width: 280px;
    margin-left: 0;
    margin-right: 0;
  }

  .card-home-content {
    display: flex;
    flex-direction: column;
  }

  .btn-cards {
    align-self: flex-end;
  }


}



/* -- forms -- */

form.is-processing {
  opacity: 0.5;
}

form .field {
  margin-bottom: 25px;
  position: relative;
}

form label {
  display: block;
  margin-bottom: 10px;
  font-style: bold;
  position: absolute;
  top: -11px;
  left: 10px;
  font-size: 13px;
  text-transform: lowercase;
  background-color: white;
  padding: 0 5px;
}

form input,
form textarea,
form select {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border-radius: 4px;     
  border: 1px solid #212322; 
}

form textarea {
  min-height: 145px;
  min-width: 100%;
  max-width: 100%; 
  padding: 15px;
}

form select {
  width: 100%;
  padding: 20px 10px;
  font-size: 16px;
  border-radius: 4px;      
}

form .submit {
  padding-top: 20px;
}

form .submit button {
  padding: 5px 20px;
  text-align: center;
  font-size: 16px;
  background-color: rgb(224, 224, 224);
  cursor: pointer;
}

form .field.has-error label {
  color:#FF441A;
  font-weight: bold;
}

form .validation {
  margin: 5px 0 10px;
  color: #FF441A;
  font-weight: bold;
}

form .field.has-error input,
form .field.has-error textarea,
form .field.has-error select {
  border: 1px solid  #FF441A;
}

/* -- signup & login -- */

.auth-page {
  background-color: #212322;
  padding-top: 40px;
  padding-bottom: 40px;
  min-height: calc(100vh - 223px)
}

.auth-page h1 {
  font-size: 24px;
  color: #ffffff;
  margin-bottom: 40px;
}

.radio-button {
  display: flex;
  margin-bottom: 20px;
  height: 21px;
  align-items: center;
}

.radio-button input {
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  border: solid 1px #212322;
  margin: 0px 10px 0px 0px;
}

.radio-button p {
  color: #ffffff;
}

.signUp-button {
  margin-top: 40px;
}

/* -- edit page -- */

.select-img {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.hero-option {
  padding-top: 15px;
  display: flex;
  flex-direction: column;
}

.hero-img { 
  width: 50px;
  margin: 0px;
}

.hero-option img {
  width: 40px;
}

.hero-option input {
  align-self: flex-start;
  width: 13px;
  margin-left: 15px;
}

.edit-page {
   padding-top: 40px;
   padding-bottom: 60px;
}

.edit-page h1 {
  font-size: 24px;
}

.edit-page button {
  margin-bottom: 20px;
}

.error-message {
  text-align: center;
}

/* -- applicants page -- */

.applicants-page {
  padding-top: 40px;
  padding-bottom: 60px;
}

.applicants-page h1 {
  font-size: 24px;
}


/* -- profile page -- */

.show-sponsor-applicant {
  display: flex;
  border-bottom: 5px solid #212322;
}

.show-sponsor-applicant img {
  width: 100%;
}

.link {
  align-self: center;
}

.status-img {
  width: 100px;
  margin-right: 10px;
}

.property {
  padding: 10px 0;
  font-size: 16px;
}

.label {
  font-weight: bold;
  font-size: 16px;
}

.profile-card {
  margin: 20px 0px 0px 0px;
}

.profile-card img {
  width: 100%;
  margin-top: 20px;
}

.profile-name-button  {
 display: flex;
 align-content: flex-start;
 justify-content: space-between; 
 padding-top: 10px;
}

.profile-page {
  padding-top: 20px;
  margin-bottom: 40px;
}

.sponsor-button {
  margin-top: 20px;
  margin-bottom: 40px;
}

.edit-link {
  color: red;
}
